<div class="card shadow">
  <div class="card-body p-4">
    <h3 class="card-title text-center text-primary mb-4">Sign up</h3>

    <div class="steps" [class.steps-active]="currentStep() === 2">
      <div class="step-item" style="width: 60px;">
        <div class="step-circle active">1</div>
        <span class="step-label">Credentials</span>
      </div>
      <div class="step-item" style="width: 60px;">
        <div class="step-circle" [class.active]="currentStep() === 2">2</div>
        <span class="step-label">Profile</span>
      </div>
    </div>

    @if (currentStep() === 1) {
      <form [formGroup]="credentialsForm" class="d-flex flex-column gap-2 w-100">
        <app-text-input label="Email" formControlName="email" />
        <app-text-input label="User name" formControlName="userName" />
        <app-text-input label="Password" formControlName="password" type="password" />
        <app-text-input label="Confirm password" formControlName="confirmPassword" type="password" />

        <div class="d-flex align-items-center justify-content-end gap-3 mt-3">
          <button (click)="cancel()" type="button" class="btn btn-outline-secondary">Cancel</button>
          <button
            [disabled]="!credentialsForm.valid"
            (click)="nextStep()"
            type="button"
            class="btn btn-primary">Next</button>
        </div>
      </form>
    }

    @if (currentStep() === 2) {
      <form [formGroup]="profileForm" class="d-flex flex-column w-100 gap-4">
        <div class="d-flex align-items-center gap-4 flex-wrap">
          <div class="fw-semibold">Gender:</div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" formControlName="gender" value="male" id="male">
            <label class="form-check-label" for="male">Male</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" formControlName="gender" value="female" id="female">
            <label class="form-check-label" for="female">Female</label>
          </div>
        </div>

        <app-text-input [maxDate]="getMaxDate()" type="date" label="Date of Birth" formControlName="dateOfBirth" />
        <app-text-input label="City" formControlName="city" />
        <app-text-input label="Country" formControlName="country" />

        <div class="d-flex align-items-center justify-content-end gap-3">
          <button (click)="prevStep()" type="button" class="btn btn-outline-secondary flex-shrink-0">Back</button>
          <button
            [disabled]="!profileForm.valid"
            (click)="register()"
            class="btn btn-primary" type="button">Register</button>
        </div>
      </form>
    }

  </div>

  @if (validationErrors().length > 0) {
    <div class="mt-3 bg-body-secondary rounded p-3 mx-auto w-50">
      <ul class="list-unstyled text-danger mb-0">
        @for (error of validationErrors(); track $index) {
          <li>{{error}}</li>
        }
      </ul>
    </div>
  }

</div>
