@if (!memberService.editMode()) {
  @if (photos(); as photos) {
    @if (photos.length > 0) {
      <div class="row row-cols-4 g-3 p-4 overflow-auto" style="height: 65vh;">
        @for (photo of photos; track photo.id) {
          <div class="col">
            <div class="position-relative">
              <img src="{{photo.url}}" alt="photo of member" class="w-100 rounded">
              @if (+accountService.currentUser()?.id! === memberService.member()?.id) {
                <app-star-button
                  [disabled]="photo.url === memberService.member()?.imageUrl"
                  [selected]="photo.url === memberService.member()?.imageUrl"
                  (clickEvent)="setMainPhoto(photo)"
                  class="position-absolute top-0 end-0" />
                <app-delete-button
                  [disabled]="photo.url === memberService.member()?.imageUrl"
                  (clickEvent)="deletePhoto(photo.id)"
                  class="position-absolute top-0 start-0" />
              }
            </div>
          </div>
        }
      </div>
    } @else {
        <p class="text-center text-muted">No photos available</p>
    }
  }
} @else {
    <app-image-upload (uploadFile)="onUploadImage($event)" [loading]="loading()" />
}


